body {

    background-color: #f4f4f4;
    /* Cambiar a #f4f4f4 */
    font-family: sans-serif;

    /* Cambiar a sans-serif */
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

header {
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50
}